stages:
  - build
  - deploy

variables:
  PROJECT_ID: "YOUR_PROJECT_ID"
  REGION: "europe-west1"
  SERVICE_NAME: "project_saas"
  IMAGE_NAME: "europe-docker.pkg.dev/YOUR_PROJECT_ID/cours-saas/project-image"
  WORKLOAD_IDENTITY_PROVIDER: "projects/YOUR_PROJECT_ID/locations/global/workloadIdentityPools/github-provider/providers/gitlab-gitlab"
  SERVICE_ACCOUNT_EMAIL: "YOUR_SERVICE_ACCOUNT"
  RUN_SERVICE_ACCOUNT: "YOUR_SERVICE_ACCOUNT"
  CLOUD_FUNCTION_NAME: "resize-image"
  BUCKET_NAME: "YOUR_GCS_BUCKET"

# ─── Template d'auth GCP (OIDC) ─────────────────────────────────────────────
.gcp_auth:
  image: google/cloud-sdk:alpine
  id_tokens:
    GITLAB_OIDC_TOKEN:
      aud: https://gitlab.com
  before_script:
    - echo ${GITLAB_OIDC_TOKEN} > .ci_job_jwt_file
    - gcloud iam workload-identity-pools create-cred-config ${WORKLOAD_IDENTITY_PROVIDER}
      --service-account="${SERVICE_ACCOUNT_EMAIL}"
      --output-file=.gcp_temp_cred.json
      --credential-source-file=.ci_job_jwt_file
    - gcloud auth login --cred-file=.gcp_temp_cred.json
    - gcloud config set project $PROJECT_ID
  after_script:
    - rm -f .ci_job_jwt_file .gcp_temp_cred.json

# ─── Build ───────────────────────────────────────────────────────────────────
build-go-webapp:
  extends: .gcp_auth
  stage: build
  before_script:
    - !reference [.gcp_auth, before_script]
    - gcloud auth configure-docker europe-docker.pkg.dev --quiet
  script:
    - gcloud builds submit . --config=infra/build.yml --substitutions=_TAG=${CI_COMMIT_SHORT_SHA} --gcs-source-staging-dir=gs://${PROJECT_ID}_cloudbuild/source
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

# ─── Deploy webapp ───────────────────────────────────────────────────────────
deploy-go-webapp:
  extends: .gcp_auth
  stage: deploy
  needs: ["build-go-webapp"]
  script:
    - sed "s|IMAGE_NAME|${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}|g" infra/service.yml > service.generated.yml
    - gcloud run services replace service.generated.yml --region $REGION
    - gcloud run services add-iam-policy-binding project-image-prod-yml
      --region=$REGION
      --member="allUsers"
      --role="roles/run.invoker"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# ─── Deploy cloud function ───────────────────────────────────────────────────
deploy-resize-function:
  extends: .gcp_auth
  stage: deploy
  needs: ["build-go-webapp"]
  script:
    - gcloud functions deploy ${CLOUD_FUNCTION_NAME}
      --gen2
      --runtime=go125
      --region=${REGION}
      --source=./resize_script
      --entry-point=ResizeImage
      --trigger-event-filters="type=google.cloud.storage.object.v1.finalized"
      --trigger-event-filters="bucket=${BUCKET_NAME}"
      --trigger-location=eu
      --run-service-account=${RUN_SERVICE_ACCOUNT}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
